html {
  font-family: "Roboto";
  font-size: 16px;
}

footer {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-hover:hover {
  background: rgba(255, 255, 255, 0.2);
}

.card-hover:hover {
  transform: translate(0, -25px);
}

.topbar{
  display: flex;
  position: relative;
  top: 16px; 
  width: 100%;
  
  .topbar-right{
    position: absolute;
    right: 16px;
  }
  .topbar-left{
    position: absolute;
    left:16px;
  }
  * a {
    text-decoration: none;
    color: white; 
    padding: 8px;
    border-radius: 3px;
  }  transition: background 0.1s;
  
}

header {
  position: relative;
  height: 400px;
  background-image: linear-gradient(#1034a6, #000080);
}

header h1 {
  color: white;
  margin: 0;
}

h1, h2, h3, h4 ,h5 {
  font-weight: 400;
}

h1 {
  font-size: 60px;
  text-align: center;
  vertical-align: middle;
  line-height: 300px;
}

h2 {
  margin: 0px 0px 16px;
  font-size: 32px;
}

p {
  margin: 0px 0px 8px 0px;
  line-height: 1.5;
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
  /* set height to pixels if you want angle to change with screen width */
}

.info-box-container {
  margin: 0px 10vw;
  display:flex;
  width: 80vw;
  justify-content:center;
}

.info-box {
  display: flex;
  flex-direction: column;
  flex: 1
  ;
  padding: 20px;
}

#i-box-2 {
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

.card-container {
  margin-top: 40px;
  width: 100vw;
  height: 350px;
  background: #232323;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -40px 24px;
    padding: 20px;
    height: 300px;
    width: 250px;
    background: rgb(228, 228, 228);
    border-radius: 15px;
    box-shadow: -16px 8px 0px rgb(19, 19, 19);
    transition: 0.3s;
    transition-timing-function: ease-out;

    a {
      text-decoration: none;
      color: black;
      font-weight: 600;
      font-size: 20px;
    }
    .clickable {
      width: 100%;
      height: 100%;
    }
  }
}